<!doctype html>
<html>
    <head>
        <title><%=appData.appName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css"/>
    </head>
    <body>
        <h1><%=appData.appName%></h1>
        <p><a href='#'>Page 1</a></p>
        <p><a href='#'>Page 2</a></p>
        <p><a href='#'>Page 3</a></p>
        <p><a href='#'>About Us</a></p>
    </body>
</html>