<!doctype html>
<html>
    <head>
        <title>Sign in to <%=appData.appName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <script src="/script.js"></script> 
    </head>
    <body>
        <h1>Sign in to <%=appData.appName%></h1>
        <form method="POST" action="loggedin">
            <p>Username: <input id="username" type="text" name="username"/></p>
            <p>Password: <input id="password" type="text" name="password"/></p>
            <input type="submit" value="Login" />
        </form>
        <br>
        <a href="/register">Or Register Here</a>
    </body>
</html>