<!doctype html>
<html>
    <head>
        <title>Register for <%=appData.appName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css"/>
        <script src="/script.js"></script> 
    </head>
    <body>
        <h1>Register for a <%=appData.appName%> account</h1>
        <form method="POST" action="registered">
            <p>Username: <input id="username" type="text" name="username"/> (Must be between 3-64 characters)</p>
            <p>Password: <input id="password" type="text" name="password"/> (Must be at least 8 characters)</p>
            <p>First name: <input id="firstname" type="text" name="firstname"/></p>
            <p>Last name: <input id="lastname" type="text" name="lastname"/></p>
            <p>Email: <input id="email" type="text" name="email"/></p>
            <input type="submit" value="Register"/>
        </form>
    </body>
</html>