<!DOCTYPE html>
<html>
    <body onload="document.forms['form'].submit()">
        <form name="form" method="post" action="/exchange_token">
            <input type="hidden" name="authCode" value="<%=authCode%>">
            <p>Redirecting...</p>
            <p>If this takes more than 5 seconds</p>
            <input type="submit" value="Click here">
        </form>
    </body>
</html>