/* Remove margin from body */

html, body {
    margin: 0; 
    min-height: 100vh;
}

body {
    background-color: rgb(85, 120, 224);
}

/* Footer styling */

footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 55%;
    margin: 20px auto;
    text-align: center;
}

/* Colour scheme (temporary) */

h1, h2, a, div {
    color: rgb(85, 120, 224);
}

textarea, input {
    color: black;
}

a:hover, a:active {
    color: rgb(58, 88, 177)
}

/* Font families and sizes */

h1, h2, p, li, a, textarea, input, div {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

/* Remove decoration from links */

a, a:hover, a:active {
    text-decoration: none;
}

/* Header styling */

.contentBackground {
    position: fixed;
    width: 55%;
    height: 100%;
    left: 22.5%;
    z-index: 0;
    background-color: white;
}

.headerContainer {
    position: sticky; 
    z-index: 2;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #F1F1F1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
}

.header h1 {
    display: inline-block;
    width: max-content;
    margin: 0 auto;
    transition: color 250ms;
}

.header h1:hover {
    color: rgb(58, 88, 177);
}

/* Header dropdown menu styling */

.headerDropdown {
    position: absolute;
    right: 10%;
    top: 0;
    float: right;
    width: 12.5%;
    height: 86.4px;
    text-align: center;
}

.headerDropdownButton {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    background-color: #F1F1F1;
    transition: background-color 250ms, color 250ms;
    color: rgb(85, 120, 224);
    font-size: 20px;
    word-wrap: break-word;
}

.headerDropdown:hover .headerDropdownMenu {
    display: block;
}

.headerDropdownMenu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    background-color: #F1F1F1;
}
  
.headerDropdownMenu a {
    display: block;
    padding: 20px 10px;
    color: black;
    font-size: 16px;
    transition: background-color 250ms;
}
  
.headerDropdownMenu a:hover, .headerDropdown:hover .headerDropdownButton {
    background-color: #DDDDDD;
}

.headerDropdown:hover .headerDropdownButton {
    color: rgb(58, 88, 177);
}

/* Header search bar styling */

.searchbar {
    width: 80%;
}

.searchbar input {
    height: max-content;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.searchbar input[type=text] {
    display: inline-block;
    width: 75%;
    padding: 10px 20px 10px 40px;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    background: url(/assets/search.png) no-repeat scroll 14px 11px;
    background-size: 16px 16px;
    background-color: white;
}

.searchbar input[type=submit] {
    float: right;
    width: calc(25% - 60px);
    border-radius: 0 20px 20px 0;
    z-index: 2;
    background-color: rgb(85, 120, 224);
    transition: background-color 250ms;
    color: white;
    text-indent: -4px;
}

.searchbar input[type=submit]:hover {
    background-color: rgb(58, 88, 177);
}

/* Side navigation bar styling */

.navbar {
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 1;
    width: 12.5%;
    height: 100%;
    padding-top: 225px;
    background-color: rgb(85, 120, 224);
    overflow-x: hidden;
}

.navbar a {
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 24px;
    text-indent: 20px;
    color: white;
    transition: background-color 250ms;
}

.navbar a:hover {
    background-color: rgb(58, 88, 177);
}

/* Post styling */

.postContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.postDiv {
    position: relative;
    right: 15px;
    width: 100%;
    padding: 15px;
    border: 15px;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #F1F1F1;
    transition: background-color 250ms;
}

.postDiv:hover {
    background-color: #DDDDDD;
}

.postDiv h2 {
    display: inline-block;
    width: max-content;
    margin: 10px 10px 20px 10px;
}

.postDiv div {
    color: black;
}

.postBodyDiv {
    margin: 10px;
    word-wrap: break-word;
}

.postLikeButton {
    display: inline-block;
    margin: 10px 2px 10px 10px;
}

.postLikeImg {
    position: relative;
    top: 1px;
    width: 16px;
    height: auto;
}

.postLikesDiv {
    display:inline-block;
}

.postDateDiv {
    float: right;
    margin: 10px;
}

/* Make post form styling */

.postFormDiv {
    width: 50%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 20px;
}

.postTextBox {
    position: relative;
    right: 15px;
    width: 100%;
    height: 100px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #F1F1F1;
    resize: none;
}

.postFormDiv input[type=submit] {
    position: relative;
    width: 10%;
    height: max-content;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(85, 120, 224);
    transition: background-color 250ms;
    color: white;
    font-size: 16px;
}

.postFormDiv input[type=submit]:hover {
    background-color: rgb(58, 88, 177);
}

.postCharCount {
    position: relative;
    display: none;
    width: max-content;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 15px;
}

/* Styling for border divider between sections on pages */

.pageDivider {
    position: absolute;
    width: 55%;
    height: 0;
    left: 22.5%;
    border-bottom: 2px solid #DDDDDD;
    margin-top: 5px;
}