/* REGISTER PAGE STYLING */

.registerFooter {
    bottom: 0;
}

.registerHeader {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.registerHeader h1 {
    display: inline-block;
    width: max-content;
    margin: 0 auto;
    transition: color 250ms;
}

.registerHeader h1:hover {
    color: rgb(58, 88, 177);
}

.h1Register {
    margin-top: 40px;
    position: relative;
    text-align: center;
}

.registerFormDiv {
    position: relative;
    width: 50%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 20px;
}

.registerFormDiv input {
    height: max-content;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.registerFormDiv input[type=text] {
    width: 58%;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #F1F1F1;
}

.registerFormDiv input[type=submit] {
    position: relative;
    display: block;
    width: 12%;
    height: max-content;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 30px auto 0 auto;
    background-color: rgb(85, 120, 224);
    transition: background-color 250ms;
    color: white;
}

.registerFormDiv input[type=submit]:hover {
    background-color: rgb(58, 88, 177);
}

.pRegisterForm {
    width: 350px;
    margin: 20px auto;
    text-align: right;
}